@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]: Aboussafy's Bakery</h1>
<br />
<br />
<p>Aboussafy's Bakery is a group effort on the parts of Paul Cheung, Xiaotong Zhang and Anthony Aboussafy. We are a small, local business, and use this website to allow our clientele to place pick-up orders for our award winning products.</p>

<p>We focus on breads, pies and cakes. All our products use locally sourced ingredients and top quality materials. That's why the prices are so high.</p>
<br />
<br />
<h2>Because it's that good!</h2>
<br />
<br />
<p>You can't put a price on health, happiness and community.</p>

<p>We hope you enjoy!</p>

<p>Oh yeah, we're also programmers.</p>

<p><b>This is also a final project for Mr. Gabriel Larco's Application Development 2 Class.</b></p>

<p>We built our project using the same structures as taught in our class.</p>
<br />
<br />
<h5>Thank you Mr. Larco for sharing your knowledge</h5>
<br />
<br />
<h1>Bon Appetit!</h1>
